@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
:root {
    --primary-color: #0ea5e9;
    --dark-gray: #6B7280;
    --offWhite: #e9e9e9;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    

}
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.container {
    padding: 0rem 1rem;

}

.container-center {
    max-width: 450px;
    margin: 1rem auto 0;
    text-align: center;
    background-color: #e0f2fe;
    padding: 0.5rem;
    border: 1px solid #e0f2fe;
    border-radius: 1rem;
    max-height: 50%;
}
/** lists **/

.list-non-bullet {
    list-style: none;
    margin-left: 0;
    margin-top: 0.2rem;
    padding-left: 0;
    margin-bottom: 0.2rem;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 12vh;
    width: 100%;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
    margin: auto;
    
}
h1{
    margin: 0.2rem;
}
.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}
.footer{
    background-color: var(--primary-color);
    padding: 0.5rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width:100%;
    min-height: 9vh;
    position: fixed;
    bottom: 0;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
    padding-bottom: 0.1rem;
}
.footer a {
    color:white;
    font-size: 2rem;
    padding: 0 0.5rem;
}

.footer ul{
    padding-inline-start: 0px ;
}

label{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem auto 0.5rem;
    display: inline-block;

}

#input-a{
    display: block;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    width: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    font-size: 1rem;
}
#input-b{
    display: block;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    width: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    font-size: 1rem;
}

#calculate{
    margin: 1.5rem;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    background-color: white;
    font-size: 0.9rem;
    font-weight: bold;
}
#output{
    margin: 0.5rem auto;
}
.angle{
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    width: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    font-size: 1rem;
    text-align: center;
}
#check{
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    background-color: white;
    font-size: 0.7rem;
    font-weight: bold;
}
p{
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem auto;
}
.quiz-label{
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.1rem;
}
#submit-answers{
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    background-color: white;
    font-size: 0.7rem;
    font-weight: bold;
}
.area-input{
    display: block;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    width: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    font-size: 1rem;
}